body{
    background-color:rgb(248, 248, 234);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:small;
    color:rgb(87, 100, 102);
}
#items{
    display: grid;
    grid-template-columns: 5fr 1fr 0.75fr;
}
#centerpieceimage{
    width: 60%;
    margin: 10px;

}
#imgcontainer{
    display: flex;
    justify-content: center;
}
#source{
    font-size: xx-small;
    text-align:center;
}
#sideimage{
    width:110%;
    margin: 30px;
}
#bold{
    font-style: italic ;
}
.image{
    display:block;
}
.sourceone{
    color: rgb(248, 248, 234);
    position: absolute;
    top: 40%;
    left: 3%;
    text-align: center;
}
.sourcetwo{
    color:rgb(248, 248, 234);
    position: absolute;
    top: 40%;
    left:3%;
    text-align: center;
}
.sourcethree{
    color: rgb(248, 248, 234);
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
}
.overlayone{
    position: absolute;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 110%;
    opacity:0;
    transition: .5s ease;
    background-color: rgb(197, 197, 197, 0.63);

}
.overlaytwo{
    position:absolute;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 110%;
    opacity:0;
    transition: .5s ease;
    background-color:rgba(197, 197, 197, 0.63);
}
.overlaythree{
    position: absolute;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 110%;
    opacity:0;
    transition: .5s ease;
    background-color:rgb(197, 197, 197, 0.63);
}
.firstimagecontainer{
    position:relative;
}
.secondimagecontainer{
    position: relative;
}
.thirdimagecontainer{
    position: relative;
}
.firstimagecontainer:hover .overlayone{opacity: 1;}

.secondimagecontainer:hover .overlaytwo{opacity: 1;}

.thirdimagecontainer:hover .overlaythree{opacity: 1;}

#bottomitems{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#heading{
    text-align: center;
}
#listitems{
    display:flex;
    justify-content: center;
}
#changeimage{
    height: 400px;
    width: 600px;
    margin: 10px;
}
#btn{
    margin: 0 auto 0 auto;
    display:flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    color: rgb(87, 100, 102);
    background-color:rgb(241, 229, 208);
    border: 1px solid rgb(87, 100, 102);
    border-radius: 10px;
}
#thelist{
    display:grid;
    grid-template-columns:1fr 1.5fr 1fr;
}
#secretheading{
    text-align: center;
}
#secretitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#thinimage{
    height:500px;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
}
#secretthings{
    display: none;
}
#passheader{
    text-align: center;
}
#why{
    margin: 10px;
    padding: 10px;
}
#daypass{
    margin: 10px;
    padding: 10px;
}
#bigtitle{
    font-size:xx-large;
    text-align:center;
    padding: 10px;
    padding-bottom:0;
}
#title{
    height: 100px;
    width: 100%;
    background-color: rgb(241, 229, 208);
    line-height: 0.9;
}
#subtitle{
    text-align: center;
    font-size:x-large;
    padding-top:0;
}
#bottomitems{
    height: 420px;
    width: auto;
    background-color: rgb(241, 229, 208);
}
#thinimgcontainer{
    height: 500px;
    width: 200;
    background-color: rgb(241, 229, 208);
}
#bottomcolorline{
    height: 50px;
    width: 100%;
    background-color: rgb(241, 229, 208);  
}