body{background-color:rgb(252, 253, 242);
    color:rgb(98, 119, 112);
    font-family: fantasy;}

img{
        height: 300px;
        width: 500px;
    }
p{
        color:black;
    }
#express{
        font-weight: bold;
        color:black;
    }
#title{
        text-align: center;
    }
#bold{
        font-weight: bold;
        color:black;
    }

p{
    font-family: cursive;
    margin: 2px;
    padding: 4px;
}
#picture{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#source{
    display: flex;
    justify-content: center;
    font-size: xx-small;
}
dd{
    font-family: cursive;
    color:black;
}
li{
    font-family: cursive;
    color:black;    
}
#why{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#connection{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
